
ul{
    border: 2px solid;
    width: 500px;
    margin:  auto;
    padding: 20px;
    background-color: #ccc;
    li{
        list-style: none;
        background-color: #fff;
        margin: 10px;
        padding: 10px;
    }
    .title{
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: green;
    }
}