.ProductDetailsContainer{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    .card{
        width: 350px;
        margin: 20px;

    }
    img{
        width: 320px;
        height: 200px;
    }
    .card-title{
        text-align: left;

    }
}